.answer_board {
    width: 400px;
    height: 198px;
    position: fixed;
    top: 280px;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: 7px;
}

.answer_board .answer_box {
    line-height: 40px;
    /*font-size: 16px;*/
    width: 50%;
    background: linear-gradient(to top, rgba(28,87,179,1) 0%, rgba(98,155,234,1) 100%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
    border-color: rgb(236, 247, 241);
    border-width: 3px;
}

.answer_board .answer_box .answer_number {
    margin: auto;
    color: white;
    background: radial-gradient(rgb(2, 21, 77), rgb(28,87,179), rgb(2, 21, 77));
    width: 100px;
    height: 40px;
    border-radius: 50%;
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
    cursor: pointer;
}

.answer_board .answer_box .empty_answer {
    margin: auto;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bold;
}

.answer_board .answer_box .answer_text {
    display: inline-block;
    margin: auto;
    color: white;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
    width: 85%;
    font-weight: bold;
}

.answer_board .answer_box .answer_value {
    display: inline-block;
    margin: auto;
    color: white;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    height: 40px;
    width: 12%;
    position: relative;
    right: 0px;
    bottom: 0;
    font-weight: bold;
    border-left: white 1px solid;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 1px 1px 5px #555 inset;
}

.team_1 {
    position: fixed;
    left: calc(50% - 390px);
    top: 340px;
}

.team_2 {
    position: fixed;
    right: calc(50% - 388px);
    top: 340px;
}

.team_name {
    text-align: center;
    margin: auto;
    color: red;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 300px;
}

.team_image_container {
    position: fixed;
    top: 430px;
    margin: auto;
    height: 100px;
    width: 100px;
}

.team_image {
    height: 100%;
    width: 100%;
}

.game_score {
    width: 100px;
    height: 48px;
    position: fixed;
    top: 205px;
    left: calc(50% - 50px);
    z-index: 1;
}

.score_box {
    vertical-align: middle;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: auto;
    color: white;
    background-color: black;
    font-size: 30px;
    border-style: ridge;
    border-color: grey;
    border-width: 7px;
    font-weight: bold;
}

.inner_score_box {
    line-height: 48px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    color: white;
    text-shadow: 2px 2px #888888;
    background: linear-gradient(to top, rgba(28,87,179,1) 0%, rgba(98,155,234,1) 100%);
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 7px;
    font-weight: bold;
}

/* Strikes */
.strike_box {
    display: none;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
}

.strike {
    width: 200px;
    margin: auto;
}

