<div #bracket_modal class="modal">
    <div class="modal_bg abs"></div>
    <div class="modal_content abs">
        <div class="modal_title">2017 Family Feud Tournament - <span *ngIf="adults"> Adults </span> <span *ngIf="!adults"> Kids </span>Bracket <span class="close_btn" (click)="closeBracketModal()">&times;</span></div>
        <div class="container" style="width: 800px; height: 600px;">

          <!-- All Lines -->
          <div class="vertical_line" style="top: calc(10% + 39px); left: calc(5% + 125px); height: 46px;"></div>
          <div class="horizontal_line" style="top: calc(10% + 85px); left: calc(5% + 125px); width: 110px;"></div>
          <div class="vertical_line" style="top: calc(10% + 39px); right: calc(5% + 125px); height: 46px;"></div>
          <div class="horizontal_line" style="top: calc(10% + 85px); right: calc(50% - 235px); width: 110px;"></div>

          <div class="vertical_line" style="top: calc(20% + 39px); left: 50%; height: 25px;"></div>
          <div class="vertical_line" style="bottom: calc(15% + 39px); left: 50%; height: 25px;"></div>
          
          <div class="vertical_line" style="bottom: calc(5% + 39px); left: calc(5% + 125px); height: 46px;"></div>
          <div class="horizontal_line" style="bottom: calc(5% + 85px); left: calc(5% + 125px); width: 110px;"></div>
          <div class="vertical_line" style="bottom: calc(5% + 39px); right: calc(5% + 125px); height: 46px;"></div>
          <div class="horizontal_line" style="bottom: calc(5% + 85px); right: calc(50% - 235px); width: 110px;"></div>

          <!-- Top half of bracket -->
          <div class="bracket_box" style="position: absolute; top: 10%; left: 5%">
            <div class="team_name">{{teamNames[0]}}</div>
            <div class="score">{{teamScores[0]}}</div>
          </div>
          <div class="bracket_box" style="position: absolute; top: 10%; right: 5%">
            <div class="team_name">{{teamNames[1]}}</div>
            <div class="score">{{teamScores[1]}}</div>
          </div>
          <div class="bracket_box" style="position: absolute; top: 20%; left: calc(50% - 125px)">
            <div class="team_name">{{teamNames[4]}}</div>
            <div class="score">{{teamScores[4]}}</div>
          </div>

          <!-- Oval and light bulbs -->
          <div class="bracket_oval_board">
            <div *ngFor="let lightbulb of lightbulbs">
              <div *ngIf="lightbulb.Display"
              [class]="lightbulb.Class" 
              [style.left.px]="145 + lightbulb.X"
              [style.top.px]="175 + lightbulb.Y"
              (click)="showLightbulbDetails(lightbulb)"></div>
            </div> 
          </div>

          <!-- Winning team -->
          <div class="bracket_box" style="position: absolute; bottom: calc(50% - 40px); left: calc(50% - 125px)" (click)="performLightShow()">
            <div class="team_name">{{teamNames[6]}}</div>
          </div>

          <!-- Bottom side of brackets -->
          <div class="bracket_box" style="position: absolute; bottom: 15%; left: calc(50% - 125px)">
            <div class="team_name">{{teamNames[5]}}</div>
            <div class="score">{{teamScores[5]}}</div>
          </div>
          <div class="bracket_box" style="position: absolute; bottom: 5%; left: 5%">
            <div class="team_name">{{teamNames[2]}}</div>
            <div class="score">{{teamScores[2]}}</div>
          </div>
          <div class="bracket_box" style="position: absolute; bottom: 5%; right: 5%">
            <div class="team_name">{{teamNames[3]}}</div>
            <div class="score">{{teamScores[3]}}</div>
          </div>
        </div>
    </div>
  </div>