<div style="text-align:center">
  <img class="title_image" alt="Family Feud" src="/assets/images/title.jpg">
</div>
<div style="text-align:center">
  <img class="subtitle_image" alt="Christmas Edition" src="/assets/images/subtitle.jpg">
</div>

<div class="score_box fm_game_score" style="border: none; height: 90px;"><div class="fm_inner_score_box"></div></div>
      
<div class="fm_oval_board">
  <div *ngFor="let lightbulb of lightbulbs">
    <div *ngIf="lightbulb.Display"
    [class]="lightbulb.Class" 
    [style.left.px]="446 + lightbulb.X"
    [style.top.px]="235 + lightbulb.Y"
    (click)="showLightbulbDetails(lightbulb)"></div>
  </div> 
</div>

<div class="fm_answer_board">
  <div class="fm_answers">
    <div *ngFor="let answer of answers" class="fm_answer_box">
      <div class="fm_answer_text">{{answer.Text}}</div>
      <div class="fm_answer_value">{{answer.Value}}</div>
    </div>
  </div>
  <div style="position: relative;">
    <div class="fm_total">TOTAL</div>
    <div class="fm_total_score1">{{total}}</div>
  </div>
</div>

<div class="team_1">
  <div class="team_name">{{t1Name}}</div>
  <div class="score_box" style="border-right: none; width: 150px; height: 80px;"><div class="fm_inner_score_box"></div></div>
</div>

<div class="team_2">
  <div class="team_name">{{t2Name}}</div>
  <div class="score_box" style="border-left: none; width: 150px; height: 80px;"><div class="fm_inner_score_box"></div></div>
</div>

<div class="fm_timer" (click)="startTimer(20)">{{seconds}}</div>