<div #setup_modal class="modal">
  <div class="modal_bg abs"></div>
  <div class="modal_content abs">
      <div class="modal_title">Game Setup <span class="close_btn" (click)="closeSetupModal()">&times;</span></div>
      <div class="container">
        <div class="col-xs-12 col-sm-5 team-name-div">
          <div class="team-title-div">
            <label for="t1-name">Team 1</label>
          </div>
          <div>
            <label for="t1-name">Name: </label>
            <input type="text" [(ngModel)]="teamNames[0]" id="team1" name="team1" class="team-name-input">
          </div>
          <div>
            <label for="t1-image">Image: </label>
            <div class="image-thumbnail-div">
              <img id="t1-image" class="image-thumbnail" src="{{teamImages[0]}}" alt="Team 1 Image" (click)="clickedOnImage(evt)">
            </div>
            <!--
            <div class="image-load-button">
              <input type="file" name="fileUp" accept="image/*" (click)="uploadImage(evt)">
            </div>
            -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-5 team-name-div">
          <div class="team-title-div">
            <label for="t1-name">Team 2</label>
          </div>
          <div>
            <label for="t2-name">Name: </label>
            <input type="text" [(ngModel)]="teamNames[1]" id="team2" name="team2" class="team-name-input">
          </div>
          <div>
            <label for="t2-image">Image: </label>
            <div class="image-thumbnail-div">
              <img id="t2-image" class="image-thumbnail" src="{{teamImages[1]}}" alt="Team 2 Image" (click)="clickedOnImage(evt)">
            </div>
          </div>
        </div>
        <div class="col-xs-24 col-sm-12" class="switch-div">
            <div class="center">
              <label>Upload Questions</label>
            </div>
            <div class="center">
              <input type="file" (change)="loadFile($event)" class="input-file-button">
            </div>
        </div>
        <div class="col-xs-24 col-sm-12" class="switch-div">
          <div class="center">
            <label>Display Animations</label>
          </div>
          <label for="display-animations" class="switch-label-left">No</label>
          <label class="switch">
            <input [(ngModel)]="showAnimations" (change)="changedAnimationToggle($event)" type="checkbox" id="display-animations" name="display-animations">
            <span id="display-animations_switch" name="display-animations_switch" class="slider round"></span>
          </label>
          <label for="display-animations" class="switch-label-right">Yes</label>
        </div>
        <div class="tright" class="ok-button-div">
          <input type="button" name="" class="btn white" value="OK" (click)="closeSetupModal()">
        </div>
      </div>
  </div>
</div>